@font-face {
    font-family: 'Overused Grotesk';
    src: url('OverusedGrotesk-Medium.woff2') format('woff2'),
        url('OverusedGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('OverusedGrotesk-ExtraBoldItalic.woff2') format('woff2'),
        url('OverusedGrotesk-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('OverusedGrotesk-LightItalic.woff2') format('woff2'),
        url('OverusedGrotesk-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('OverusedGrotesk-Italic.woff2') format('woff2'),
        url('OverusedGrotesk-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('OverusedGrotesk-Light.woff2') format('woff2'),
        url('OverusedGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('OverusedGrotesk-BlackItalic.woff2') format('woff2'),
        url('OverusedGrotesk-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('OverusedGrotesk-MediumItalic.woff2') format('woff2'),
        url('OverusedGrotesk-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('OverusedGrotesk-SemiBold.woff2') format('woff2'),
        url('OverusedGrotesk-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('OverusedGrotesk-Regular.woff2') format('woff2'),
        url('OverusedGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('OverusedGrotesk-BoldItalic.woff2') format('woff2'),
        url('OverusedGrotesk-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('OverusedGrotesk-SemiBoldItalic.woff2') format('woff2'),
        url('OverusedGrotesk-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('OverusedGrotesk-Bold.woff2') format('woff2'),
        url('OverusedGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('OverusedGrotesk-BookItalic.woff2') format('woff2'),
        url('OverusedGrotesk-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('OverusedGrotesk-Book.woff2') format('woff2'),
        url('OverusedGrotesk-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('OverusedGrotesk-ExtraBold.woff2') format('woff2'),
        url('OverusedGrotesk-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('OverusedGrotesk-Black.woff2') format('woff2'),
        url('OverusedGrotesk-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

