@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

.over::-webkit-scrollbar{
    display: none;
}

.login::placeholder{
    font-family: "Space Grotesk" ;
    color: #C5C5C5;
}